@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poly&family=Roboto:wght@400;600;700&display=swap');
@import "variables";
@import "slick";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
  color: $main-color-black;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $main-color-black;
}

section {
  padding: 32px 0 78px;
  margin: 10px 0;
  box-shadow: 0 5px 30px 0 $grey-color-light, 0 -5px 30px 0 $grey-color-light;

  @media screen and (max-width: 950px) {
    padding-bottom: 32px;
  }
  @media screen and (max-width: 650px) {
    padding: 24px 0;
  }
}

.container {
  margin: 0 auto;
  max-width: 1650px;
  padding: 0 54px;

  @media screen and (max-width: 500px) {
    padding: 10px 15px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-title {
  padding: 4px 0 2px 10px;
  margin-bottom: 60px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  text-align: left;
  text-transform: uppercase;
  color: $green-color-dark;
  border-left: 5px solid $green-color-dark;

  @media screen and (max-width: 700px) {
    font-size: 28px;
  }
}

.title {
  max-width: 1650px;
  padding: 0 54px;
  margin: 0 auto;
  font-family: Roboto, Arial, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: $green-color-light;

  @media screen and (max-width: 500px) {
    font-size: 30px;
  }
  @media screen and (max-width: 700px) {
    padding: 10px 15px;
  }
}

.btn {
  display: inline-block;
  width: 240px;
  margin: 0 auto;
  padding: 10px 0;
  color: $main-color-white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: .3s;
  background: $green-color-light;
  border-radius: 10px;

  &.back {
    background: $grey-color-light;
  }

  &:hover,
  &:focus {
    box-shadow: 3px 3px 6px $main-color-black, -3px 3px 6px $main-color-black;
    opacity: .9;
    transition-duration: .3s;
  }

  &:active {
    box-shadow: none;
    transition-duration: .3s;
  }
}

.text-button {
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.15;
  color: $green-color-dark;
  cursor: pointer;
  transition-duration: .3s;

  &:hover,
  &:focus {
    opacity: .7;
    transition-duration: .3s;
  }

  &:active {
    opacity: .9;
    transition-duration: .3s;
  }
}

// ------------ Модальные окна ---------------
.modal {
  display: none;

  &__mask {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity .3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    max-width: 466px;
    max-height: 253px;
    margin: 0;
    background: $main-color-white;
    font-family: Roboto, Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: $green-color-dark;
    border-radius: 2px;
    transition: all 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 600px) {
      font-size: 20px;
      max-width: 300px;
      max-height: 200px;
    }
  }

  &__header {
    position: relative;
    width: 100%;

    .message-success & {
      font-size: 20px;
      color: $main-color-black;
      border-bottom: 1px solid $main-color-black;
      padding: 4px 0 4px 4px;
    }
  }

  &__close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background: transparent;

    &:hover,
    &:focus {
      cursor: pointer;
    }

    &:active {
      opacity: .7;
    }

    span {
      font-size: 30px;
      font-weight: 500;
      line-height: 1;
      color: $main-color-black;
    }
  }

  &__body {
    margin: 30px 20px 0;
    text-align: center;
  }

  &__btn {
    display: inline-block;
    outline: none;
    border: none;
    margin: 39px 0;

    @media screen and (max-width: 600px) {
      margin: 20px 0 10px;
    }
  }
}

// ------------- Кнопка "Вверх" --------------
.scrollToTop {
  width: 50px;
  height: 50px;
  color: $main-color-white;
  font-size: 25px;
  background: $green-color-dark;
  position: fixed;
  right: 30px;
  bottom: 50px;
  display: none;
  z-index: 3;
  border-radius: 50%;
  box-shadow: 0 0 6px $main-color-white;

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 10px;
    transition-duration: .3s;

    use {
      fill: $main-color-white;
    }
  }

  &:focus,
  &:hover {
    opacity: .9;
    box-shadow: 3px 3px 6px $main-color-black, -3px 3px 6px $main-color-black;
    transition-duration: .3s;
  }

  &:focus &__icon,
  &:hover &__icon {
    transform: translate(-50%, -50%) scale(1.1);
    transition-duration: .3s;
  }
}

// ------ Custom Checkbox/Radiobutton --------
.form {
  &__check-label {
    display: inline-block;
    position: relative;
    margin-right: 21px;
    padding-left: 33px;
    cursor: pointer;
    font-size: 18px;
    color: $main-color-black;
    user-select: none;
    white-space: nowrap;
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: $main-color-white;
    border: 2px solid $green-color-dark;
    transition-duration: .3s;

    // ----------- Custom Radiobutton -------------
    &--radiobutton {
      border-radius: 50%;
    }
  }

  &__check-label:hover &__checkbox ~ &__checkmark {
    background: $grey-color-light;
    transition-duration: .3s;
  }

  &__check-label &__checkbox:checked ~ &__checkmark {
    background: $green-color-dark;
    transition-duration: .3s;
  }

  .validation &__checkbox:invalid ~ &__checkmark {
    border: 2px solid $danger-color-dark;
  }
}

// ----------------- Шапка -------------------
.header {
  &__top {
    width: 100%;
    min-height: 45px;
    background: $green-color-dark;

    .container {
      margin: 0 auto;
      padding: 10px 54px;

      @media screen and (max-width: 440px) {
        padding: 10px 15px;
      }
    }
  }

  &__top-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }

  &__top-item:not(:last-of-type) {
    margin-right: 105px;

    @media screen and (max-width: 700px) {
      margin: auto;
    }
  }

  &__top-item {
    @media screen and (max-width: 700px) {
      margin: auto;
    }
  }

  &__top-link {
    width: 100%;
    height: 100%;
    font-family: Poly, "Times New Roman", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: $main-color-white;
    transition-duration: .3s;

    &:hover,
    &focus {
      opacity: .8;
      transition-duration: .3s;
    }
  }

  &__top-icon {
    vertical-align: middle;
    margin-right: 10px;

    use {
      fill: $main-color-white;
    }
  }

  &__logo {
    margin: 34px 0;
    display: block;
    font-family: Pacifico, Arial, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: $green-color-dark;

    @media screen and (max-width: 1024px) {
      margin: 20px auto;
    }
    @media screen and (max-width: 650px) {
      margin: 10px auto;
    }
  }
}

// --------------- Навигация -----------------
.nav {
  .container {
    width: 100%;
    min-height: 40px;
    padding: 0 54px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 1300px) {
      justify-content: center;
    }
    @media screen and (max-width: 650px) {
      padding: 20px;
      justify-content: space-around;
    }
    @media screen and (max-width: 440px) {
      padding: 15px;
    }
  }

  &__btn-field {
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;

    @media screen and (max-width: 650px) {
      display: block;
      z-index: 5;
      order: 3;
    }

    &--active {
      position: fixed;
      top: 20px;
      right: 20px;
    }
  }
  &__btn-icon,
  &__btn-icon::before,
  &__btn-icon::after {
    display: block;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    width: 24px;
    height: 2px;
    background: $green-color-dark;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
  }
  &__btn-icon {
    z-index: 4;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    &::before,
    &::after {
      content: "";
    }

    &::before {
      transform: translate(0, -8px);
    }

    &::after {
      transform: translate(0, 8px);
    }

    &--active {
      background: transparent;
      transform: translateX(50%) rotate(180deg);

      &::before {
        background: $main-color-white;
        width: 22px;
        transform: rotate(-45deg);
      }

      &::after {
        background: $main-color-white;
        width: 22px;
        transform: rotate(45deg);
      }
    }
  }

  &__list {
    max-width: 918px;
    min-height: 20px;
    margin: 34px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1200px) {
      justify-content: center;
      flex-wrap: wrap;
    }
    @media screen and (max-width: 1024px) {
      margin: 20px auto;
    }
    @media screen and (max-width: 650px) {
      display: none;
      position: fixed;
      padding: 20px;
      top: 0;
      left: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      margin: 0;
      overflow: auto;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: nowrap;
      z-index: 3;
      background-color: $green-color-dark;
    }
    &--active {
      display: flex;
    }
  }

  &__item {
    margin: 0 10px;

    @media screen and (max-width: 650px) {
      width: 80%;

    }
  }

  &__menu-link {
    width: 100%;
    height: 100%;
    padding: 12px;
    display: block;
    position: relative;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 2px;
    text-align: center;
    white-space: pre-line;
    color: $main-color-black;
    transition: all .5s ease;


    @media screen and (max-width: 650px) {
      color: $main-color-white;
      white-space: inherit;
      text-align: left;
      padding: 24px;
    }

    &:hover,
    &:focus {
      color: $green-color-light;
      transition: all .5s ease;

      @media screen and (max-width: 650px) {
        color: $main-color-white;
        opacity: .8;
      }
    }

    &:active {
      opacity: .7;
      transition-duration: .3s;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 4px;
      background: $green-color-light;
      transition: all .5s ease;

      @media screen and (max-width: 650px) {
        display: none;
      }

      .nav__item:hover &,
      .nav__item:focus & {
        width: 100%;
        left: 0;
        transition: all .5s ease;
      }

      .nav__item:active & {
        opacity: .7;
        transition-duration: .3s;
      }
    }
  }

  &__user {
    white-space: nowrap;
    margin: 0 auto;
  }

  &__user-avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border: 3px solid $green-color-dark;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
  }

  &__username {
    font-size: 22px;
    font-weight: 700;
    color: $green-color-dark;
    white-space: nowrap;
  }

  &__button-sign {
    width: 140px;
    height: 40px;
    margin: 34px auto;
    padding: 9px 32px;
    border-radius: 20px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 2px;
    text-align: center;
    color: $main-color-white;
    background: $green-color-dark;

    @media screen and (max-width: 1024px) {
      margin: 20px auto;
    }
    @media screen and (max-width: 650px) {
      margin: 10px auto;
    }
    @media screen and (max-width: 440px) {
      margin: 10px;
    }

    &:focus,
    &:hover {
      box-shadow: 3px 3px 6px $main-color-black, -3px 3px 6px $main-color-black;
      transition-duration: .3s;
    }

    &:active {
      opacity: .8;
      box-shadow: none;
      transition-duration: .3s;
    }
  }
}

// ----------------- Формы -------------------
.form {
  &__top,
  &__middle {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__left-col,
  &__right-col {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 6px;
  }

  &__label-message {
    width: 45%;
  }

  &__textarea {
    width: 100%;
    min-height: 180px;
    resize: none;
  }

  &__label {
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    text-align: left;
    color: $green-color-dark;
  }

  &__select,
  &__input {
    width: 100%;
    height: 48px;
    margin-bottom: 32px;
    display: block;
  }

  &__select,
  &__select option,
  &__input,
  &__textarea {
    margin-top: 10px;
    padding: 5px 15px;
    border: 2px solid $green-color-dark;
    background: $main-color-white;

    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.17;
    color: $green-color-light;

    &:focus {
      outline-color: $green-color-dark;
    }

    &[disabled] {
      background: $grey-color-light;
    }
  }

  &__middle {
    margin: 18px auto 42px;
    align-items: center;
  }

  &__note,
  &__upload {
    width: 45%;
  }

  &__note {
    font-size: 14px;
    font-weight: 700;
  }

  &__upload {
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &__upload-icon {
    vertical-align: bottom;

    use {
      fill: $green-color-dark;
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  &__bottom-text {
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    margin-right: 10px;
  }

  &__btn {
    width: 45%;
    min-width: 280px;
    min-height: 48px;
    margin: 74px 0 0;
    align-self: flex-end;
    outline: none;
    border: none;

    @media screen and (max-width: 700px) {
      width: 100%;
      min-width: 200px;
    }
  }
}

// ----------- Формы (валидация) -------------
.validation {
  input:invalid,
  textarea:invalid,
  select:invalid {
    border: 2px solid $danger-color-dark;
    color: $danger-color-dark;
    background: $danger-color-light;
  }
}

// --------------- Пагинация -----------------
.pagination {
  max-width: 280px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $green-color-light;
  font-size: 16px;
  font-weight: 700;

  &__arrow {
    border-color: $green-color-dark;
    background: $green-color-dark;
    position: relative;

    &--next .pagination__arrow-icon {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  &__arrow-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    use {
      stroke: $main-color-white;
    }
  }

  &__item {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 12px;
    border: 1px solid $green-color-light;
    color: $green-color-light;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 1.7;

    &:hover,
    &:focus {
      box-shadow: 3px 3px 6px rgba(79, 79, 79, 0.6), -3px 3px 6px rgba(79, 79, 79, 0.6);
    }

    &:active {
      box-shadow: none;
    }

    &.current {
      border-color: $green-color-dark;
      background: $green-color-dark;
      color: $main-color-white;

      &:hover,
      &:focus {
        cursor: default;
        box-shadow: none;
      }
    }

    &--dots {
      width: auto;
      height: auto;
      border: none;

      &:hover,
      &:focus {
        cursor: default;
        box-shadow: none;
      }
    }
  }

  .disabled {
    border-color: $grey-color-light;
    background: $grey-color-light;
    box-shadow: none;
    cursor: default;
  }
}

// ----------------- Подвал ------------------
.footer {
  &__logo {
    margin: 34px 0;
    display: block;
    font-family: Pacifico, Arial, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: $green-color-dark;

    @media screen and (max-width: 1024px) {
      margin: 20px auto;
    }
    @media screen and (max-width: 650px) {
      margin: 10px auto;
    }
  }

  &__bottom {
    width: 100%;
    min-height: 45px;
    background: $green-color-dark;

    .container {
      margin: 0 auto;
      padding: 10px 54px;

      @media screen and (max-width: 600px) {
        padding: 10px 15px;
      }
    }
  }

  &__bottom-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__bottom-item {
    margin: 0 10px;
    flex-grow: 1;
    text-align: center;
  }

  &__bottom-text {
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 2px;
    color: $main-color-white;
    white-space: nowrap;

    @media screen and (max-width: 440px) {
      white-space: pre-line;
    }

    &.copyright {
      font-size: 16px;
    }
  }

  &__bottom-link {
    width: 100%;
    height: 100%;
    font-family: Poly, "Times New Roman", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    color: $main-color-white;
    transition-duration: .3s;
    white-space: nowrap;

    &:hover,
    &focus {
      opacity: .8;
      transition-duration: .3s;
    }
  }

  &__bottom-icon {
    vertical-align: middle;
    margin-right: 10px;

    use {
      fill: $main-color-white;
    }
  }
}

@import "front-page";
// -------------- Авторизация ----------------
.sign-in {
  &__form {
    max-width: 535px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .form {
    &__top {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 6px;
    }

    &__bottom {
      width: 100%;
      justify-content: space-between;
    }

    &__text-button {
      display: block;
      font-family: Roboto, Arial, sans-serif;
      font-size: 28px;
      font-weight: 700;
      line-height: 1.17;
      color: $green-color-light;

      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }

    &__btn {
      margin: 47px 0 0;
      align-self: center;
    }
  }
}

// -------------- Регистрация ----------------
.sign-up {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__user-type {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 36px;

      @media screen and (max-width: 450px) {
        width: 100%;
        justify-content: space-between;
      }
    }

    &__radio-label:not(:first-of-type) {
      margin-left: 120px;

      @media screen and (max-width: 450px) {
        margin: 0;
      }
    }

    &__top {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    }

    &__left-col,
    &__right-col {
      max-width: 535px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 6px;

      @media screen and (max-width: 768px) {
        width: 80%;
      }
      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }

    &__btn {
      max-width: 535px;
      align-self: flex-end;
    }
  }
}

// --------------- Мои курсы -----------------
.teacher-courses {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: 980px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__create-instruction {
    display: block;
    //white-space: nowrap;
    margin: 25px 0;
  }

  &__pdf-icon {
    fill: $green-color-light;
    vertical-align: bottom;
  }

  &__download-icon {
    fill: $green-color-dark;
  }

  &__create-text {
    margin: 0 10px;
  }

  &__header-right {
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.17;
    text-align: right;

    @media screen and (max-width: 980px) {
      text-align: left;
    }
  }

  &__filter-select {
    height: 18px;
    padding: 0 10px 2px;
    color: $grey-color-light;
    border-radius: 3px;
    border-color: $green-color-light;
    font-size: 14px;
  }

  &__search-label {
    position: relative;
    margin: 35px 0 25px;
  }

  &__search-input {
    width: 284px;
    height: 20px;
    border: 1px solid $green-color-light;
    border-radius: 3px;
    outline: none;
    padding: 4px 20px 4px 10px;
    line-height: 1;

    &::placeholder {
      font-size: 14px;
    }
  }

  &__search-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: transparent;
    border: none;
    outline: none;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &__search-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    stroke: $green-color-dark;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

    @media screen and (max-width: 650px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .table-block {
    &__header th {
      &:nth-of-type(3) {
        width: 140px;
      }

      &:nth-of-type(4) {
        width: 180px;
      }
    }
  }
}

// ---------------- Таблица ------------------
.table-block {
  width: 100%;
  max-width: 100%;
  margin: 34px auto 80px;
  border-spacing: 0 17px;

  tr {
    text-align: left;
  }

  tr > th:last-of-type,
  tr > th:first-of-type,
  tr > td:last-of-type,
  tr > td:first-of-type {
    text-align: center;
  }

  &__sort-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 2px 0 0 4px;
    transition-duration: .3s;

    &.active {
      transform: translateY(-50%) rotate(180deg);
      transition-duration: .3s;
    }

    use {
      fill: $green-color-light;
    }
  }

  &__header {
    tr {
      box-shadow: 0 -1px 0 0 $green-color-dark, 0 1px 0 0 $green-color-dark;
      white-space: nowrap;
    }

    th {
      font-family: Roboto, Arial, sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: $grey-color-dark;

      padding: 18px 16px 14px;
      position: relative;

      &:hover,
      &:focus {
        cursor: pointer;
      }
    }
  }

  &__body {
    tr {
      box-shadow: 0 0 0 1px $green-color-dark, 0 5px 50px 0 $grey-color-light;

      td:nth-of-type(2) {
        padding: 18px 0 14px 16px;
      }
    }

    td {
      padding: 18px 16px 14px;

      font-family: Roboto, Arial, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 1;

      &:nth-of-type(2) {
        font-weight: 500;
        color: $green-color-light;
      }

      &:nth-of-type(2) a {
        font-weight: 500;
        color: $green-color-light;

        &:hover,
        &:focus {
          opacity: .8;
        }
      }
    }
  }

  &__btn {
    background: none;
    border: none;
    outline: none;
    transition-duration: .3s;

    &:hover,
    &:focus {
      cursor: pointer;
      filter: invert(.7);
      transition-duration: .3s;
    }

    &:active {
      filter: invert(0);
      transition-duration: .3s;
    }
  }

  &__btn-icon {
    use {
      fill: $green-color-dark;
    }
  }
}

// --- Обертка таблицы для прокрутки таблиц---
// -----------на небольших экранах -----------
.table-wrapper {
  @media screen and (max-width: 768px) {
    overflow-x: auto;
    padding: 0 20px;
  }
}

// -------- Мои курсы (Создать курс) ---------
.teacher-new-course {
  .form {
    &__textarea-course-desc {
      margin: 0;
      padding: 10px;
      outline: none;
      border: none;
      background: transparent;
    }

    &__top {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 600px) {
        width: 100%;
        flex-direction: column;
      }
    }

    &__left-col,
    &__right-col {
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }

    &__label-price {
      width: 100%;
    }

    &__course-cost {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 1000px) {
        flex-wrap: wrap;
        margin-top: 10px;
      }
    }

    &__course-price {
      @media screen and (max-width: 1000px) {
        width: 100%;
      }
    }

    &__radio-label {
      margin-bottom: 20px;

      @media screen and (max-width: 1000px) {
        margin-bottom: 6px;
      }
    }

    &__upload {
      display: block;
      margin: 28px 0 60px;
      max-width: 320px;

      @media screen and (max-width: 1000px) {
        width: auto;
      }

      @media screen and (max-width: 700px) {
        margin-bottom: 28px;
      }
    }

    &__btn-block {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 700px) {
        flex-direction: column;
        align-items: center;
      }
    }

    &__btn {
      width: 25%;
      min-height: 34px;

      @media screen and (max-width: 1000px) {
        margin: 30px auto 0;
      }

      @media screen and (max-width: 700px) {
        width: 100%;
      }
    }

    &__desc {
      box-shadow: 0 4px 10px 0 $grey-color-light;
      margin: 10px 0 32px;
    }
  }

  .edit-panel {
    width: 100%;
    height: auto;
    min-height: 100px;
    padding: 20px 22px 4px;
    background: $grey-color-light;

    &__top,
    &__middle,
    &__bottom {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }

    &__btn {
      min-width: 36px;
      height: 36px;
      margin: 4px;
      border-radius: 5px;
      border-left: 1px solid $grey-color-dark;
      border-right: 1px solid $grey-color-dark;
      border-top: none;
      border-bottom: none;
      //border: none;
      background: none;
      outline: none;
      transition-duration: .2s;

      &:hover,
      &:focus {
        cursor: pointer;
        box-shadow: inset 0 0 30px 0 $main-color-white;
        transition-duration: .2s;
      }

      &:active {
        cursor: pointer;
        box-shadow: inset 0 0 30px 0 $grey-color-light;
        transition-duration: .2s;
      }
    }

    &__source-btn {
      display: inline-block;
      width: 88px;
    }

    &__btn-icon {
      vertical-align: bottom;

      &[data-color="stroke"] {
        stroke: $green-color-light;
      }

      use {
        fill: $green-color-light;
      }
    }

    &__select {
      width: 127px;
      height: 27px;
      margin: 4px;
      //border: 1px solid $green-color-light;
      //border-radius: 3px;
      //color: $green-color-light;
      border: none;
      outline: none;

      &:hover,
      &:focus {
        cursor: pointer;
      }
    }
  }
}

// -------- Мои курсы (Создать тему) ---------
.teacher-new-theme {
  .form {
    &__upload {
      margin-bottom: 28px;
    }

    &__left-col,
    &__right-col {
      width: auto;

      @media screen and (max-width: 700px) {
        width: 100%;
      }
    }

    &__btn-block {
      width: 100%;
    }

    &__btn {
      @media screen and (max-width: 700px) {
        width: 100%;
        min-width: 200px;
      }
    }
  }
}

// --------- Мои курсы (отображение) ---------
.teacher-courses-view {
  .table-block {
    max-width: 100%;
    width: 100%;
    margin-bottom: 0;
    padding: 0 40px;

    &__header {
      th {
        &:nth-of-type(4) {
          white-space: nowrap;
        }

        &:last-of-type {
          text-align: right;
        }
      }
    }

    &__body {
      tr {
        box-shadow: 0 0 0 1px $green-color-dark;
        background: $main-color-white;

        td:nth-of-type(2) {
          padding: 0;
        }

        td:nth-of-type(3) {
          padding: 18px 0 14px 16px;
        }
      }

      td {
        &:not(:nth-of-type(3)) {
          text-align: center;
        }

        &:nth-of-type(2) {
          font-weight: 400;
          color: inherit;
        }

        &:nth-of-type(3) {
          font-weight: 500;
          color: $green-color-light;
        }
      }
    }

    &__radiobutton {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid $green-color-dark;
      border-radius: 50%;
      transition-duration: .3s;

      &:hover,
      &:focus {
        cursor: pointer;
        box-shadow: 0 0 6px $main-color-black;
        transition-duration: .3s;
      }

      &.active {
        background: $green-color-dark;
      }
    }
  }

  .table-modules-block {
    table-layout: auto;
    max-width: 100%;
    width: 100%;
    padding: 0 40px;
  }

  &__tab {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 40px auto;
    border: 1px solid $green-color-light;

    @media screen and (max-width: 630px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info {
    display: none;
  }

  .block {
    &__title {
      margin: 0;
      padding: 0;
      font-size: 24px;
      text-align: left;
    }

    &__btn {
      margin: 0;
    }
  }

  .form {
    &__label {
      color: $grey-color-dark;
    }

    &__input[disabled],
    &__textarea[disabled] {
      background: $main-color-white;
      font-weight: 500;
    }

    &__info {
      padding-left: 20px;
    }

    &__course-program {
      display: inline-block;
    }

    &__textarea-course-desc {
      padding: 15px;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 630px) {
        flex-direction: column;
        align-items: stretch;
      }
    }

    &__btn {
      min-height: 34px;
      margin-top: 0;
      margin-bottom: 20px;

      @media screen and (max-width: 630px) {
        margin-top: 20px;
      }
    }

    &__btn-block {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin: 40px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      .pagination {
        margin-bottom: 20px;
      }

      .form__left-col {
        @media screen and (max-width: 700px) {
          order: 2;
        }
      }

      .form__right-col,
      .form__left-col {
        width: auto;

        @media screen and (max-width: 700px) {
          width: 100%;
          align-items: center;
        }
      }
    }

    &__top {
      @media screen and (max-width: 630px) {
        flex-direction: column;
        align-items: stretch;
      }
    }

    &__right-col {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &__right-col,
    &__left-col {
      width: 45%;

      @media screen and (max-width: 630px) {
        width: auto;
      }


      .btn {
        margin-top: 20px;
      }
    }
  }

  tr.table-inner {
    background: none;
    box-shadow: none;
  }

  tr.table-inner td > div {
    box-shadow: 0 5px 50px 0 $grey-color-light;
    background: none;
    padding: 30px 0;
    margin: 10px;
  }

  .table-inner {
    display: none;

    tr {
      background: none;
    }

    &__module-themes.header,
    &__module-questions.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1300px;
      margin: 0 40px;
    }

    &__module-themes .table-block {
      table-layout: auto;

      th {
        text-align: center;
      }
    }

    .table-block__header tr {
      box-shadow: 0 -1px 0 0 $green-color-dark, 0 1px 0 0 $green-color-dark;
      background: none;
    }

    &__title {
      font-size: 24px;
      margin: 0;
    }

    &__btn {
      margin: 0;
      min-width: 260px;
    }
  }
}